* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* MIX */
.list-inline {
  display: flex;
  align-items: center;
  list-style: none;
}

.list-inline-dropdown {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  opacity: 0.5;
  transition: color 0.1s ease 0s, opacity 0.1s ease 0s;
  white-space: nowrap;
}

a:hover {
  opacity: 1;
}

.btn {
  border-radius: 10px;
  padding: 0.625em 1.5em;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}

.btn--primary {
  background-color: #000;
  color: #fff;
}

.btn--secondary {
  background-color: rgba(230, 230, 230, 0.6);
  color: rgb(25, 28, 31);
}

.btn--primary:hover {
  background-color: rgba(25, 28, 31, 0.84);
}

.btn--secondary:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.position-relative {
  position: relative;
}

.menu-style {
  background-color: #fff;
  border-radius: 10px;
  filter: drop-shadow();
}
/* /MIX */

header {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__left, .header__right {
  display: flex;
  align-items: center;
}

#nav-left > ul > li, #nav-right > ul > li {
  margin-left: 20px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 160%;
  left: 0;
  box-shadow: rgb(0 0 0 / 4%) 0px 0px 4px 0px, rgb(0 0 0 / 8%) 0px 8px 16px 0px;
  border-radius: 8px;
  padding: 10px 0px;
  line-height: 1.65;
}

.dropdown-menu ul li {
  padding: 10px 20px;
  color: rgb(139, 149, 158);
  text-decoration: none;
  transition: color 0.2s ease 0s;
}

.active {
  display: block;
}
